@import "~bulma/bulma.sass";
@import "./themes.css";

.card {
  margin: auto auto 10px auto;
  color: var(--color-fg-default);
  &:last-child{
    margin-bottom: 0px;
  }
  
  .card-header {
    border: 1px solid var(--color-border-default);
    background-color: var(--color-wrapper-content-bg);
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;

    &:hover {
      background-color: var(--color-wrapper-header-bg);
    }

    .card-header-icon{
      color: var(--color-fg-default);
      p {
        margin-right: 5px;
        margin-bottom: 0px;
        font-family: $family-monospace;
        font-size: var(--fz-xs);
        color: var(--color-fg-subtitle);
      }
    }

    #where{
      color: var(--color-fg-default);
    }

  }
  
  .card-header.is-opened {
    background-color: var(--color-wrapper-header-bg);

    .icon{
      transform: rotate(180deg);
    }
  }

  .card-content{
    border-radius: 0px;
    border-bottom: 1px solid var(--color-border-default);
    border-left: 1px solid var(--color-border-default);
    border-right: 1px solid var(--color-border-default);
    transition: all 1s ease;
    padding: 0px;

    .title {
      color: var(--color-fg-default);
      font-weight: 600;
      span{
        color: var(--color-fg-accent);
      }
      a {
        color: var(--color-fg-accent);
      }
    }

    #date {
      color: var(--color-fg-muted);
    }

    ul {
      color: var(--color-fg-muted);
      list-style: none;
      & li::before {
        content: "\2023";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: var(--color-fg-accent); /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
    }
  }
}