.notification.msg{
    border-radius: 0px;
    background-color: transparent;
    border-left: 0.25em solid var(--color-border-default);
    color: var(--color-fg-muted);
    padding-top: 0px;
    padding-bottom: 0px;
}