@charset "utf-8";
@import "./themes.css";
@import "./Card.component.scss";
@import "./Toggle.component.scss";
@import "./Tag.component.scss";
@import "./Button.component.scss";
@import "./Minisection.component.scss";
@import "./Notification.component.scss";

$card-radius: 0;
$card-header-shadow: 0;
$card-shadow: 0;
$tablet: 720px;

$navbar-breakpoint: 0px;
$navbar-background-color: transparent;
$navbar-box-shadow-size: 0;
$navbar-box-shadow-color: transparent;
$navbar-item-hover-background-color: transparent;

@import "~bulma/bulma.sass";

$breakpoint: 720px;

.app {
    .hero {
        background-color: var(--color-html-bg);
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23727478' fill-opacity='0.16'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    color: var(--color-fg-default);
    padding: 20px;
    height: 100vh;
    transition: all .5s;
    padding: 0px;
    .button{
      background-color: var(--color-btn-bg);
      &:hover{
        background-color: var(--color-btn-bg-hover);
      }
    }
  }

#wrapper {
    color: var(--color-fg-default);
    width: $breakpoint;
    min-width: 450px;
    margin: 20px auto;
    padding: 0px;
    border: 1px solid var(--color-border-default);
    background-color: transparent;

    .block{
        margin: 0;
    }

    @include until($breakpoint) {
        width: 100%;
        margin: 0;
    }
}

#header{
    padding: 20px;
    top: 0em;
    background-color: var(--color-wrapper-header-bg);
    position: sticky;
    border-bottom: 1px solid var(--color-border-default);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 1000;
    button {
        border-radius: 3px;
        border: 0px;
        height: 70%;
        background-color: transparent;
        cursor: pointer;
        &:hover{
            background-color: var(--color-border-default);
        }
    };
    .navbar-brand{
        align-items: center;
    }
    .navbar-menu{
        background-color: transparent;
        box-shadow: none;
    }

    a{
        background-color: transparent;
        color: var(--color-fg-accent);
        &:hover{
            background-color: transparent;
            text-decoration: underline;
        }
    }

    #user{
        padding-right: 0px;
    }

    #readme{
        padding-left: 0px;
    }

    @include until($breakpoint) {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

}

.content{
    padding: 40px;
    z-index: 100;
    background-color: var(--color-wrapper-content-bg);
    h1 {
        font-weight: 700;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--color-border-default);
        color: var(--color-fg-default)
    }

    #me{
        margin: auto;
        width: 130px;
        border: 1px solid var(--color-border-default);
    }

    strong{
        color: var(--color-fg-default);
    }

}

#footer{
    padding: 20px;
    border-top: 1px solid var(--color-border-default);
    background-color: var(--color-wrapper-content-bg);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#me_wrapper{
    text-align: center;
    a:hover{
        text-decoration: none;
    }
    p{
        text-align: left;
    }
}

.typing{
    color: var(--color-fg-default);
}

a{
    color: var(--color-fg-accent);
    &:hover{
        color: var(--color-fg-accent);
        text-decoration: underline;
    }
}


#techs {
    ul {
        font-family: monospace;
        color: var(--color-fg-default);
        list-style: none;
        font-size: var(--fz-sm);
        
        & li::before {
          content: "●";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
          font-weight: bold; /* If you want it to be bold */
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 1em; /* Also needed for space (tweak if needed) */
          margin-left: -1em; /* Also needed for space (tweak if needed) */
        }

        #python::before{
            color: #3572A5;
        }

        #react::before{
            color: #384d54;
        }

        #javascript::before{
            color: #f1e05a;
        }

        #pyspark::before{
            color: #c22d40;
        }

        #shell::before{
            color: #89e051;
        }

        #csharp::before{
            color: #178600;
        }

        #html-css::before{
            color: #e34c26;
        }

        #r::before{
            color: #198CE7;
        }
      }
}

#notfound{
    .title{
        font-family: monospace;
        font-size: 100px;
        margin-bottom: 20px;
        color: var(--color-fg-default);
    }
    .subtitle{
        font-size: 40px;
        color: var(--color-fg-muted);
    }
}