.topic-tag-action, .delete-topic-button, .topic-tag {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 2em;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 22px;
    color: var(--color-fg-accent);
    background-color: var(--color-tag-bg);
    border: 1px solid var(--color-tag-border, transparent);
    margin: 0px 0px 5px 0px;
    &:hover{
        color: var(--color-tag-hover-text);
        background-color: var(--color-tag-hover-bg);
    }
}
