:root {
    --color-html-bg: rgb(237, 237, 237);
    --color-wrapper-header-bg: #E7ECF0;
    --color-wrapper-content-bg: white;
    --color-wrapper-footer-bg: white;
    
    --color-border-default: #20252C;
    --color-border-muted: #88929D;

    --color-fg-title: rgb(155, 67, 67);
    --color-fg-subtitle: #3e434b;
    --color-fg-default: #0a0c10;
    --color-fg-muted: #32353c;
    --color-fg-accent: #0349b4;
    --color-fg-main: #256a3e;

    --color-btn-bg: #e7ecf0;
    --color-btn-text: #0e1116;
    --color-btn-border: #0e1116;
    --color-btn-hover-bg: #d2d7db;
    --color-btn-hover-text: #0e1116;
    --color-btn-hover-border: #0e1116;

    --color-toggle-bg: #272b33;
    --color-toggle-circle: white;
    --color-toggle-hover-bg: #4d5055;

    --color-tag-bg: #dff7ff;
    --color-tag-border: #0349b4;
    --color-tag-hover-bg: #0349b4;
    --color-tag-hover-text: white;
    
    /* Fonts and sizes */
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
}

[data-theme="dark"] {
    --color-html-bg: #171a1f;
    --color-wrapper-header-bg: #2d333b;
    --color-wrapper-content-bg: #22272e;
    --color-wrapper-footer-bg: #22272e;
    
    --color-border-default: #444c56;
    --color-border-muted: #363b41;

    --color-fg-title: rgb(155, 67, 67);
    --color-fg-subtitle: #72787e;
    --color-fg-default: #adbac7;
    --color-fg-muted: #768390;
    --color-fg-accent: #409eff;
    --color-fg-main: #42925f;
    
    --color-btn-bg: #373e47;
    --color-btn-text: #adbac7;
    --color-btn-border: rgba(205,217,229,0.1);
    --color-btn-hover-bg: #44484d;
    
    --color-toggle-bg: #E7ECF0;
    --color-toggle-circle: #0a0c10;
    --color-toggle-hover-bg: #b5b5b5;
    
    --color-tag-bg: rgba(64,158,255,0.15);
    --color-tag-border: #409eff;
    --color-tag-hover-bg: #409eff;
    --color-tag-hover-text: #0a0c10;
    
  }